.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card{
    text-align: center;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    border: 5px solid rgb(70, 70, 58);
    border-radius: 20px;
}

.card:nth-child(3n+1){
    background-color: rgb(44, 65, 134);
}

.card:nth-child(3n+2){
    background-color: rgb(5, 107, 73);
}

.card:nth-child(3n+3){
    background-color: rgb(74, 61, 124);
}

.cardImage{
    width: 400px;
}

.cardTitle{
    font-weight: bold;
}

.card p{
    text-align: justify;
}