.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.card{
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 25px;
    border-radius: 15px;
    border:  3px solid rgb(50, 50, 48);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card:nth-child(3n+1){
    background-color: rgb(44, 65, 134);
}

.card:nth-child(3n+2){
    background-color: rgb(5, 107, 73);
}

.card:nth-child(3n+3){
    background-color: rgb(74, 61, 124);
}

.cardImage{
    width: 100%;
    max-width: 400px;
    height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.cardTitle{
    font-weight: bold;
      font-size: 1.8rem;
  margin-bottom: 15px;
  color: #fff;

}

.card p{
    text-align: justify;
      line-height: 1.6;
  margin-bottom: 12px;
  font-size: 1rem;
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    gap: 20px;
    padding: 10px;
  }

  .card {
    max-width: 100%;
    padding: 20px;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .cardImage {
    max-width: 100%;
  }
}