.card{
    margin: 20px auto;
    border: 3px solid rgb(70, 70, 58);
    border-radius: 15px;
    padding: 25px;
    max-width: 650px;
    /* background-color: rgb(102, 171, 236); */
    background-color: rgb(64, 163, 142);
    color: rgb(20, 32, 51);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cardImg{
    width: 100%;
    max-width:400px;
    height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.card-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #062a53;
}

.card p{
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
}

.subTitle{
    text-align: justify;
}

/* MOBILE */
@media (max-width: 768px) {
  .card {
    margin: 15px auto;
    padding: 20px;
    max-width: 100%;
  }

  .card-title {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}