.card{
    margin: 20px;
    border: 5px solid rgb(70, 70, 58);
    border-radius: 20px;
    padding: 20px;
    max-width: 650px;
    background-color: rgb(102, 171, 236);
    color: rgb(20, 32, 51);
    cursor: pointer;
}

.card-img{
    width: 20rem;
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

p{
    font-size: 20px;
    text-align: justify;
}