

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 200px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.nav-bar{
  background-color: rgb(70, 144, 241);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
